<!doctype html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <title>Face Detection App</title>
  <script>
    var nre;
    function showFacialLandMarks(output) {
      result = {
        "Faces": output.landmarks
      }
      var responseString = JSON.stringify(result, null, 4)
      if(responseString == "null") {
        $('#response').html(JSON.stringify("Unable to detect any facial landmarks." +
            "Image is either angular (or) rotated (or) faces are not that clear." + 
            "A CNN model will be deployed soon."));
      } else {
        $('#response').html(responseString);
      }
      $("#resultImage").attr("src", './images/' + output.output_file);
      $("#time").html("Time taken to finish the request: " + output.time_took + " milliseconds.");
    }

    $(document).ready(function() {
      $("form#files").submit(function(e) {
          e.preventDefault();
          var formData = new FormData(this);
          $.ajax({
              url: window.location.pathname + "upload",
              type: 'POST',
              dataType: "json",
              contentType: "application/json; charset=utf-8",
              data: formData,
              beforeSend: function() {
                var i = 0;
                var loadMethod = function() {
                  i = ++i % 4;
                  $("#response").html("loading"+Array(i+1).join("."));
                };
                nre = setInterval(loadMethod, 500);
              },
              success: function (output) {
                clearInterval(nre);
                showFacialLandMarks(output)
              },
              error: function (jqXHR, textStatus, errorThrown) { 
                clearInterval(nre);
                $("#response").html(jqXHR.responseText);
              },
              cache: false,
              contentType: false,
              processData: false
          });
        }); 
      $("form#url").submit(function(e) {
          e.preventDefault();    
          var formData = new FormData(this);
          $.ajax({
              url: window.location.pathname + "submit",
              type: 'POST',
              dataType: "json",
              contentType: "application/json; charset=utf-8",
              data: formData,
              beforeSend: function() {
                var i = 0;
                var loadMethod = function() {
                  i = ++i % 4;
                  $("#response").html("loading"+Array(i+1).join("."));
                };
                nre = setInterval(loadMethod, 500);
              },
              success: function (output) {
                clearInterval(nre);
                showFacialLandMarks(output)
              },
              error: function(jqXHR, textStatus, errorThrown) {
                clearInterval(nre);
                $("#response").html(jqXHR.responseText);
              },
              cache: false,
              contentType: false,
              processData: false
          });
      }); 
    });
  </script>
</head>
<body>
<div class="container">
  <div class="centered">
    <h1 class="text-center">Face Detection App</h1>
  </div>
</div>

<br/><br/><br/><br/>
<div class="container">
  <div class="col">
    <div class="col-xs-6">
      <form id="files" action="/upload" method="post" enctype="multipart/form-data">
        <h5>Upload Image </h5>
        <label class="btn btn-default btn-file">
          Browse <input type="file" name="file" style="display: none;">
        </label>
        <button type="submit" class="btn btn-primary">Submit</button>    
        </form>
    </div>
  </div>
  <div class="col">
    <div class="col-xs-6">
      <form id="url" action="/submit" method="post" class="form-inline">
        <h5>Image URL </h5>
        <input type="text" name="image_url" class="form-control mb-2 mr-sm-2 mb-sm-0" size="60">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<br/><br/><br/><br/>
<div class="container">
  <div class="centered">
    <h5 class="text-center" id="time"></h5>
  </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/>
<div class="container">
  <div class="col">
    <div class="col-xs-6">
        <h5> Image </h5>
        <figure class="figure">
          <img id="resultImage" src="https://dummyimage.com/400x300" class="figure-img img-fluid rounded">
        </figure>  
    </div>
  </div>
  <div class="col">
    <div class="col-xs-6">
      <div class="form-group">
        <h5>Results ( Facial Landmarks ) </h5>
        <textarea class="form-control" id="response" name="results" rows="15" size="30"></textarea>
      </div>
    </div>
  </div>
</div>
</body>